#navbar{
    width: 100%;
    height: 56px;
    border: 0px solid teal;
    display: flex;
    justify-content: space-between;

}
#nav1{
    height:56px;
    width: 566px;
    border: 0px solid black;
    display: flex;
    align-items: flex-start;
}
#nav2{
    height:56px;
    width: 500px;
    border: 0px solid black;
    display: flex;
    justify-content: space-between;
}
.navlogo{
    width: 59%;
}
#nav1>a{
    display: flex;
    text-decoration: none;
    color: black;
    margin-right: 15px;
                
}
#srch{
    height: 40px;
}
#sign{
    text-decoration: none;
    margin-bottom: 20px;
    color:black;
    font-size: 20px;
    font-weight: bold;
    margin: 10px; 
}
#bag{
    width: 20;
    height: 46px;
}

#main{
    height: 600px;
    width: 100%;
    border: 0px solid rgb(219, 59, 11);
    margin-top: 20px;
    display: flex;
    background-image: url(https://www.jcrew.com/brand_creative/homepage2022/05-May2/2022may_0503_hp_w_img0.jpg);
    background-size: 100% 100%;
    
}

 #main_left{
    height: 100%;
    width: 50%;
    text-align: center;
   
    margin-top: 200px;
    color: white;
    font-size: 25px;
    
/* } #main_right{
    height: 100%;
    width: 50%;
    border: 1px solid rgb(219, 59, 11);
    margin-top: 20px; */
    
}
#shop_new{
    color: aliceblue;
}
#middle_part{
    height: 600px;
    width: 90%;
    border: 1px solid rgb(219, 59, 11);
    margin-top: 20px;
    margin: auto;
    display: flex;
    

}
#middle_1{
    height: 100%;
    width: 50%;
    text-align: center;
   
    margin-top: 15px;
    color: rgb(212, 32, 32);
    font-size: 25px;
    background-image: url(https://www.jcrew.com/brand_creative/homepage2022/05-May2/2022may_0503_hp_w_img1.jpg);
    background-size: 100% 100%;
}
#middle_2{
    height: 100%;
    width: 50%;
    text-align: center;
   
    margin-top: 15px;
    color: rgb(212, 32, 32);
    font-size: 25px;
    background-image: url(https://www.jcrew.com/brand_creative/homepage2022/05-May2/2022may_0503_hp_w_img2.jpg);
    background-size: 100% 100%;
}